body{
    background-color:  hsl(47, 88%, 63%);
    min-width:375px;
}
.font {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
 font-style: normal;
}
.container{
    width:335px;
    height: 460px;
    background-color: white;
    border-radius: 20px;
     
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    border-bottom: 8px solid black;
    border-right: 8px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
}
.pic{
    border-radius: 10px;
    
}
.box{
    padding: 5px;
    color: black;
    background-color: hsl(47, 88%, 63%) ;
    width: 70px;
    border-radius: 5px;
    padding-left: 10px;
    font-family: "Figtree", sans-serif;
    font-weight: 700;
    margin-bottom:10px ;

}
.avatar{
    width: 35px;
    height: 35px;
}
.last{
    display: flex;
}
.name{
    margin-top: 8px;
    padding-left: 10px;
    font-weight: 800;
}